body {
  font-size: 16px;
  color: #000000;
  background-color: #ADD8E6;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #F08080;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

#box1 {
  width: 93%;
  color: #2F4F4F;
  background-color:  #AFEEEE;
  align-self: : center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  box-shadow: 25px 25px 25px 25px pink;

}

#box2 {
  width: 93%;
  color: #2F4F4F;
  background-color: #EE82EE;
  align-self: : center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  box-shadow: 25px 25px 25px 25px pink;

}
#box3 {
  width: 93%;
  color: #2F4F4F;
  background-color: #FF6347;
  align-self: : center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  box-shadow: 25px 25px 25px 25px pink;

}
ul{
  text-align: center;
}
